<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://acroalias.in" target="_blank">
          Acroalias Technologies Pvt Ltd © 2018
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://acroalias.in" target="_blank">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://acroalias.in" target="_blank"> Contact Us </a>
      </li>
    </ul>
    <div class=" copyright">
      * This information is sourced from crowdsource data.<br> Do not panic & wait for government sources to verify
    </div>
  </div>
</footer>
