<button (click)="topFunction()" class="btn btn-danger btn-fab btn-icon btn-round animation-on-hover" id="myBtn" title="Go to top"><i class=" tim-icons icon-minimal-up"> </i></button>
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Covid-19 Resources</h4>
          <p class=" category">search by state</p>
          <input class="form-control" [(ngModel)]="state" (input)="Search()" placeholder="Search" />
          <br>
          <button class="btn btn-success btn-fab btn-icon btn-round animation-on-hover " (click)="ExportCsv()"><i class=" tim-icons icon-cloud-download-93"> </i></button>
          &nbsp;
          <button class="btn btn-default animation-on-hover btn-sm" *ngIf="pageStart >= 50" (click)="prevData()">Previous</button>
          &nbsp;
          <button class="btn btn-default animation-on-hover btn-sm" *ngIf="pageStart < resources.length" (click)="nextData()">Next</button>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>State</th>
                  <th>City</th>
                  <th>Organization</th>
                  <th>Services</th>
                  <th>Category</th>
                  <th>Contact</th>
                  <th class=" text-center">Contact Number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of resources | slice:pageStart:pageEnd">
                  <td>{{data.state}}</td>
                  <td>{{data.city}}</td>
                  <td>{{data.nameoftheorganisation}}</td>
                  <td>{{data.descriptionandorserviceprovided}}</td>
                  <td>{{data.category}}</td>
                  <td><a href="{{data.contact}}" style="text-decoration: none;" target="_blank">click here</a></td>
                  <td class=" text-center">{{data.phonenumber}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-default animation-on-hover btn-sm" *ngIf="pageStart >= 50" (click)="prevData()">Previous</button>
            <button class="btn btn-default animation-on-hover btn-sm" *ngIf="pageStart < resources.length" (click)="nextData()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>