<div class=" content">
  <div class=" row">
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/acro_v1.png" />


              <h4 class=" title">Acroalias Technologies Pvt Ltd</h4>
            </a>
            <p class=" description">The Health You Want</p>
          </div>
          <div class=" card-description">
            Acroalias Technologies Pvt Ltd aims at tackling the social and healthcare problems with algorithms using
            various technologies that can treat, better, and benefit lives. We are focussed on improving our approach to
            how we perceive healthcare in today's world and better it with a distinctive approach.
          </div>
        </div>
               
      </div>
    </div>
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-body">
          <div class="container">
            <div class="page-header">
              <h1 id="timeline" style="padding-top:10px;">Timeline</h1>
            </div>
            <ul class="timeline">
              <li>
                
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 January</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Selected in Top 3000 startups India in SmartFifty organized by IIM Kolkata powered by Department
                      of Science and Technology,India</p>
                  </div>
                </div>
              </li>
              <li>
                <div><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 February</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Selected in Rise Conference 2018 HongKong, organizers of Conference like Web Summit-Lisbon and
                      Collision-Toronto.</p>
                  </div>
                </div>
              </li>
              <li>
                <div><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 March</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Selected in Top 500 Innovative ideas in IICDC 2017 organized by IIM Bangalore ,Texas Instruments
                      and Department of Science and Technology,India and initiative by MyGov and MakeInIndia</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 April</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Top 80 in Bhopal Smart City Hackathon organized by BNEST, Bhopal Govenment powered incubation
                      center powered by Department of Science and Technology, India</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 August</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Won IICDC 2017 organized by IIM Bangalore ,Texas Instruments and Department of Science and
                      Technology, India and initiative by MyGov and MakeInIndia and became a part of the prestigious MakeInIndia startups</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2018 November</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Acroalias Technologies Pvt Ltd was officially established and the patent for our Fetal Heart Rate Monitoring Device was sent for Early publication</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">2020 April</h4>
                  </div>
                  <div class="timeline-body">
                    <p>Acroalias Technologies Pvt Ltd has come up with a real-time high-frequency COVID 19 Tracker Acroinfer to keep everyone updated.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class=" card-footer">
          <img src="../../../assets/img/logo-unit.png">
        </div>
      </div>
    </div>

  </div>
</div>