<div class="logo">
  <a href="#nothing" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/acro_v1.png" />
    </div>
  </a>
  <a href="http://www.acroalias.com" class="simple-text logo-normal" style="font-size: 18px;" target="_blank">
    Acroalias
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
